.sample__warning {
  font-size: var(--m);
  font-weight: bold;
  text-align: center;
}

.green {
  color: #1eff00;
  font-size: var(--xl);
  margin-left: 1rem;
}

.red {
  color: #ff0000;
  font-size: var(--xl);
  margin: 0 0 0 1rem;
}
