.btn-lg {
  margin-bottom: 1rem;
  position: relative;
  border-radius: 0 !important;
}

.btn-lg::after,
.btn-lg::before {
  border: 2px solid #f8f9fa;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn-lg:hover::after {
  transform: translate(-15px, -15px);
}

.btn-lg:hover::before {
  transform: translate(15px, 15px);
}
