.header {
  color: var(--white);
  text-align: center;
  font-size: var(--xl);
}

.bold-700 {
  display: inline-block;
  font-weight: 700;
  font-size: var(--xl);
}

.analysed-numbers {
  font-size: var(--l);
}

span {
  margin-left: 9px;
}
