.wrapper {
  margin: 0;
  padding: 0;
  font-family: "Josefin Slab", serif;
  color: var(--white);
  text-align: center;
  order: -1;
  width: auto;
}

.title {
  font-size: var(--xxxxl);
}

.description {
  margin-top: 0.8rem;
  line-height: 1.2;
  font-size: var(--xxl);
}
