li a:hover {
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
}

.menu-bars {
  font-size: var(--xxxl);
  background: none;
  position: absolute;
  right: 3%;
  position: fixed;
  z-index: 2;
}

.nav-menu {
  background-image: url(../../images/tlo5.webp);
  width: 55vw;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  margin-left: auto;
  left: 45%;
  z-index: 1;
}

.nav-menu.hidden {
  right: -100%;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
  list-style: none;
  height: 100%;
}

.sidebar-link span {
  text-align: center;
}

.responsive-image {
  width: 100%;
  max-width: 140px;
  height: auto;
  display: block;
  margin: 2rem auto 3rem;
  animation: imageAnimation 2s ease-in;
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style-type: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--l);
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover,
img:hover {
  background-color: var(--transparent_grey);
  border-radius: 10px;
}

.about-author {
  position: relative;
  top: 5%;
  height: 150px;
}

@media only screen and (min-width: 600px) {
  .menu-bars {
    font-size: var(--xxxl);
    background: none;
    position: fixed;
    right: 2.5%;
  }

  .nav-menu {
    width: 30vw;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    margin-left: auto;
    left: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .menu-bars {
    visibility: hidden;
    display: none;
  }

  .nav-menu {
    background-image: none;
    background-color: var(--transparent_dark_grey);
    width: 15vw;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    margin-left: auto;
    left: 85%;
  }

  .nav-menu.hidden {
    right: 0%;
  }

  .about-author {
    position: relative;
    top: 25%;
    height: 150px;
  }
}
