html {
  background: url(images/Magisterka\ bd3.png) no-repeat center center fixed;
  background-size: cover;
}

header {
  font-size: 2.2rem;
  font-family: "Josefin Slab", serif;
  margin-left: 100px;
  margin-top: 50px;
  position: absolute;
  text-align: center;
  color: white;
}
.description {
  margin-top: 20px;
}
p {
  margin: 0;
  line-height: 1.2;
  font-size: 1.8rem;
}
.table-container {
  margin-left: 300px;
  width: 40%;
  position: absolute;
  margin-top: 320px;
  background-color: white;
  border: white solid 20px;
  border-radius: 30px;
}
.table {
  margin-bottom: 0 !important;
}
