.layout-container {
  margin: 2rem 1rem 0 2rem;
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  align-items: center;
  width: calc(85% - 1rem);
}

@keyframes imageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

td a {
  color: #2a2a2a;
  font-weight: 600;
}

p a {
  color: white;
  font-weight: 600;
  margin-right: 0.3rem;
}

thead,
td {
  text-align: center;
}

.data {
  color: white;
}

span {
  margin-left: 9px;
}
