.layout-container {
  margin: 2rem 1rem 0 2rem;
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  align-items: center;
  width: calc(85% - 1rem);
}

@keyframes imageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
