:root {
  --xs: 12px;
  --s: 14px;
  --m: 16px;
  --l: 18px;
  --xl: 24px;
  --xxl: 29px;
  --xxxl: 32px;
  --xxxxl: 40px;
  --xxxxxl: 52px;

  --white: #ffffff;
  --black: #000000;
  --grey: #2a2a2a;
  --transparent_grey: #ffffff5c;
  --transparent_dark_grey: #343a4096;
  --red: #ff0000;
}
