.wrapper {
  display: flex;
  width: 19rem;
  margin-bottom: 10px;
}

.push {
  margin-left: auto;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    display: flex;
    width: 20rem;
  }
}
